

.my-parent{
    background-color: #039BE5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    align-items: stretch;

    height: 300px;
}

.box{
    background-color: #01579B;
    width: 50px; 
    /* height: 50px; */
    margin: 5px;
    color: white;
}

.box:nth-child(3){
    align-self: stretch;
}