

.my-parent{
    background-color: #039BE5;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    align-items: stretch;
    width: 300px;
    height: 300px;
}

.box{
    background-color: #01579B;
    width: 150px;
    /* height: 50px; */
    margin: 5px;
    color: white;
    /* flex-shrink: 1; */
    /* flex-grow: 1; */
    flex: 1 0 ;
}

.box:nth-child(3){
    align-self: stretch;
    /* flex-basis: 300px; */
    /* flex-shrink: 2; */
    /* flex-grow: 2; */
    flex: 2 0 0px;
    
}